snippet af "Arrow Function"
const $1 = ($2) => {
  $3
};
endsnippet

snippet cl "Console Log"
console.log($1);
endsnippet

snippet ct "Console Trace"
console.trace();
endsnippet

snippet cls "Class"
export class $1 {
  constructor() {
    $2
  }
}
endsnippet
