extends javascript




snippet rfc "React Function Component"
import React from 'react';

type Props = {
};

export const $1 = ({ }: Props): JSX.Element => {
  return (
    <div>
      $1
    </div>
  )
};
endsnippet
