extends typescript

snippet rfc "React Function Component"
import React from "react";

type $1Props = {
  children: React.ReactNode;
};

export function $1({ children }: $1Props) {
  return (
    <div>
      {children}
    </div>
  );
};
endsnippet
