extends javascript




snippet rch "React Custom Hook"
import { useState } from 'react';

type Returns = {
};

export const $1 = (): Returns => {
  const [$2, set$2] = useState($3);

  return {
    $2
  } as const;
};
endsnippet
