[core]
  excludesfile = ~/.gitignore

[difftool]
  prompt = false

[includeIf "gitdir:~/Developer/shapeless/"]
  path = ~/Developer/shapeless/.gitconfig

[includeIf "gitdir:~/Developer/shapeless-oss/"]
  path = ~/Developer/shapeless-oss/.gitconfig
